<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:jdbc="http://www.springframework.org/schema/jdbc">
    
    <!-- Production database -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="username" value="pa165"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="password" value="pa165"/>
        <property name="url" value="jdbc:mysql://127.6.10.130:3306/pa165"/>
    </bean>
    <!--
    <bean id="clientService" class="cz.fi.muni.pa165.hotelbookingmanagerpersistence.service.impl.ClientServiceImpl"></bean>
    <bean id="roomService" class="cz.fi.muni.pa165.hotelbookingmanagerpersistence.service.impl.RoomServiceImpl"></bean>
    <bean id="hotelService" class="cz.fi.muni.pa165.hotelbookingmanagerpersistence.service.impl.HotelServiceImpl"></bean>
    <bean id="reservationService" class="cz.fi.muni.pa165.hotelbookingmanagerpersistence.service.impl.ReservationServiceImpl"></bean>
    
    <bean id="clientDAO" class="cz.fi.muni.pa165.hotelbookingmanagerpersistence.dao.impl.ClientDAOImpl"></bean>
    <bean id="roomDAO" class="cz.fi.muni.pa165.hotelbookingmanagerpersistence.dao.impl.RoomDAOImpl"></bean>
    <bean id="hotelDAO" class="cz.fi.muni.pa165.hotelbookingmanagerpersistence.dao.impl.HotelDAOImpl"></bean>
    <bean id="reservationDAO" class="cz.fi.muni.pa165.hotelbookingmanagerpersistence.dao.impl.ReservationDAOImpl"></bean>
    <bean id="regUserDAO" class="cz.fi.muni.pa165.hotelbookingmanagerpersistence.dao.impl.RegUserDAOImpl"></bean>
    -->
    <context:component-scan base-package="cz.fi.muni.pa165.hotelbookingmanagerpersistence"/>

    <tx:annotation-driven/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="HotelBookingManagerPU"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
        
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
    
    <bean id="mapper" class="org.dozer.DozerBeanMapper">
        <property name="mappingFiles">
            <list>
                <value>dozerBeanMapping.xml</value>            
            </list>
        </property>
    </bean>
</beans>